COOKIE_VALIDATION_KEY=%COOKIE_VALIDATION_KEY%
PHP_ENABLE_XDEBUG=0
YII_ENV_DEV=1
APP_STORAGE_FS=%APP_STORAGE_FS%
APP_STORAGE_PUBLIC_URL=%APP_STORAGE_PUBLIC_URL%
APP_STORAGE_S3_KEY=%APP_STORAGE_S3_KEY%
APP_STORAGE_S3_SECRET=%APP_STORAGE_S3_SECRET%
APP_STORAGE_S3_BUCKET=%APP_STORAGE_S3_BUCKET%
APP_STORAGE_S3_BUCKET_REGION=%APP_STORAGE_S3_BUCKET_REGION%
APP_VERSION=%VERSION%
MYSQL_HOST=%MYSQL_HOST%
MYSQL_PORT=%MYSQL_PORT%
MYSQL_DATABASE=%MYSQL_DATABASE%
MYSQL_USER=%MYSQL_USER%
MYSQL_PASSWORD=%MYSQL_PASSWORD%
MYSQL_ROOT_PASSWORD=%MYSQL_ROOT_PASSWORD%
MYSQL_USER_SLAVE=%MYSQL_USER_SLAVE%
MYSQL_PASSWORD_SLAVE=%MYSQL_PASSWORD_SLAVE%
MYSQL_HOST_SLAVE_1=%MYSQL_HOST_SLAVE_1%
MYSQL_HOST_SLAVE_2=%MYSQL_HOST_SLAVE_2%
MYSQL_HOST_SLAVE_3=%MYSQL_HOST_SLAVE_3%
MYSQL_HOST_DTKS=%MYSQL_HOST_DTKS%
MYSQL_USER_DTKS=%MYSQL_USER_DTKS%
MYSQL_PASSWORD_DTKS=%MYSQL_PASSWORD_DTKS%
MYSQL_DATABASE_DTKS=%MYSQL_DATABASE_DTKS%
MYSQL_PORT_DTKS=%MYSQL_PORT_DTKS%
S3_FOLDER_INVALID=%S3_FOLDER_INVALID%
S3_FOLDER_INVALID_VERVAL=%S3_FOLDER_INVALID_VERVAL%
BANSOS_PROCESS_EXCEL_URL=%BANSOS_PROCESS_EXCEL_URL%
CACHE_USE_MEMCACHED=true
CACHE_SERVERS=memcached
CACHE_PORT=11211
CACHE_WEIGHT=60
CACHE_USERNAME=
CACHE_PASSWORD=
MAILER_TRANSPORT_FILE=%MAILER_TRANSPORT_FILE%
MAILER_HOST=%MAILER_HOST%
MAILER_USER=%MAILER_USER%
MAILER_PASSWORD=%MAILER_PASSWORD%
MAILER_PORT=%MAILER_PORT%
MAILER_ENCRYPTION=%MAILER_ENCRYPTION%
MAILER_FROM_EMAIL=%MAILER_FROM_EMAIL%
MAILER_FROM_NAME=%MAILER_FROM_NAME%
FCM_KEY=%FCM_KEY%
ERROR_REPORT=%ERROR_REPORT%
ERROR_ENVIRONMENT=%ERROR_ENVIRONMENT_DSN_PRODUCTION%
SENTRY_DSN=%SENTRY_DSN%
FRONTEND_URL=
KEPENDUDUKAN_API_BASE_URL=
KEPENDUDUKAN_API_KEY=
SMS_HOST=
SMS_API_KEY=
MOBILE_APP_SIGNATURE=
