version: '3'
services:
  api:
    build:
      context: ./api
      args:
        - APP_VERSION=${VERSION}
    image: registry.gitlab.com/jdsteam/sapa-warga/sapawarga-app/sapawarga-backend-api:${VERSION}
    networks:
      -  jds-dev-network
    env_file:
      - .env
    volumes:
      # - ./api:/srv
      # - /srv/vendor
      - vol_storage:/srv/web/storage
    ports:
      - 81:80

  queue:
    # build:
    #   context: ./api
    image: registry.gitlab.com/jdsteam/sapa-warga/sapawarga-app/sapawarga-backend-api:${VERSION}
    networks:
      -  jds-dev-network
    depends_on:
      - api
    env_file:
      - .env
    volumes:
      # - ./api:/srv
      # - /srv/vendor
      - vol_storage:/srv/web/storage
    restart: on-failure
    command: ['bash','-c','/srv/yii queue/listen --verbose']

  database:
    build:
      context: ./database
    image: registry.gitlab.com/jdsteam/sapa-warga/sapawarga-app/sapawarga-backend-database:${VERSION}
    networks:
      -  jds-dev-network
    ports:
      - 3307:3306
    env_file:
      - .env
    volumes:
      - vol_mysql_data:/var/lib/mysql

  memcached:
    image: memcached:latest
    networks:
      -  jds-dev-network

networks:
  jds-dev-network:
#    driver: bridge

volumes:
  vol_storage:
    driver: local
  vol_mysql_data:
    driver: local
