apiVersion: v1
kind: Service
metadata:
  name: sapawarga-api
  namespace: sapawarga
  labels:
    app: sapawarga-api
spec:
  selector:
    app: sapawarga-api
  ports:
  - name: api-port
    port: 80
    protocol: TCP
    targetPort: 80
  type: NodePort