apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: sapawarga-api
  namespace: sapawarga
  labels:
    app: sapawarga-api
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: sapawarga-api
    spec:
      containers:
        - name: api
          image: registry.gitlab.com/jdsteam/sapa-warga/sapawarga-app/sapawarga-backend-api:%VERSION%
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /ping
              port: 80
          volumeMounts:
          - name: api-persistent-storage
            mountPath: /srv/web/storage
          env:
            - name: APP_STORAGE_LOCAL_URL
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_STORAGE_LOCAL_URL
            - name: APP_VERSION
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_VERSION
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MYSQL_HOST
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: MYSQL_PASSWORD
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MYSQL_DATABASE
            - name: FCM_KEY
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: FCM_KEY

            - name: COOKIE_VALIDATION_KEY
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: COOKIE_VALIDATION_KEY

            - name: MAILER_USER
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: MAILER_USER

            - name: MAILER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: MAILER_PASSWORD

            - name: MAILER_ENCRYPTION
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: MAILER_ENCRYPTION

            - name: APP_STORAGE_S3_KEY
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: APP_STORAGE_S3_KEY
            
            - name: APP_STORAGE_S3_SECRET
              valueFrom:
                secretKeyRef:
                  name: sapawarga-backend-secret
                  key: APP_STORAGE_S3_SECRET

            - name: CACHE_USE_MEMCACHED
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: CACHE_USE_MEMCACHED

            - name: CACHE_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: CACHE_SERVERS
            - name: CACHE_PORT
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: CACHE_PORT

            - name: ERROR_REPORT
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: ERROR_REPORT

            - name: ERROR_ENVIRONMENT
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: ERROR_ENVIRONMENT

            - name: SENTRY_DSN
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: SENTRY_DSN

            - name: FRONTEND_URL
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: FRONTEND_URL

            - name: MAILER_TRANSPORT_FILE
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MAILER_TRANSPORT_FILE
                  
            - name: MAILER_HOST
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MAILER_HOST

            - name: MAILER_PORT
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MAILER_PORT
            
            - name: MAILER_FROM_EMAIL
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MAILER_FROM_EMAIL

           - name: MAILER_FROM_NAME
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: MAILER_FROM_NAME
       
            - name: APP_STORAGE_S3_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_STORAGE_S3_BUCKET

            - name: APP_STORAGE_FS
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_STORAGE_FS

            - name: APP_STORAGE_PUBLIC_URL
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_STORAGE_PUBLIC_URL

            - name: APP_STORAGE_S3_BUCKET_REGION
              valueFrom:
                configMapKeyRef:
                  name: sapawarga-backend-config-env
                  key: APP_STORAGE_S3_BUCKET_REGION
                  
      initContainers:
      - name: volume-permission-fix
        image: busybox
        command: ["/bin/chmod","-R","777", "/data"]
        volumeMounts:
        - name: api-persistent-storage
          mountPath: /data
      imagePullSecrets:
        - name: regcred
      volumes:
      - name: api-persistent-storage
        persistentVolumeClaim:
          claimName: api-pv-claim